/*------ PROJECTS TITLE ------*/
.projectsTitleDiv {
    padding-left: 15%;
    padding-top: 40px;
    padding-bottom: 2%;
    background-color: #613659;
    color: white;
    text-transform: uppercase;
  }
  .projectsTitle {
    font-size: 7vw;
    margin-bottom: 0;
  }
  
  /*------ PROJECTS CARROUSEL CONTAINER ------*/
  .ProjectsCarrouselContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 4%;
    width: 100%;
    padding-top: 20px;
    background-color: #613659;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    /*------ PROJECTS TITLE ------*/
    .projectsTitleDiv {
      padding-top: 25px;
      padding-left: 10%;
    }
    /*------ PROJECTS CARROUSEL CONTAINER ------*/
    .ProjectsCarrouselContainer {
      justify-content: space-evenly;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10px;
      width: 100%;
      background-color: #613659;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .projectsTitleDiv {
      padding-bottom: 20px;
    }
    .projectsTitle {
      font-size: 90px;
      margin-bottom: 0;
    }
  }
  